.WinningTeamColor {
  color: orange; /*#fffaad;*/
}

/*DEPRECATED ------------------------------------------*/

.SeasonGameList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  /*color: white;*/
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SeasonGameList td {
  border: 2px solid black;
}

.Standing th {
  border: 1px 0px 1px 0px solid #ddd;
  padding: 8px;
}

.SeasonGameList tr {
  /*background-color: #111;*/
}

.SeasonGameList tr:hover {
  /*background-color: #222;*/
}

.SeasonGameList th {
  padding-top: 12px;
  padding-bottom: 12px;
  /*background-color: #00013b;*/
  /*color: white;*/
}
