.SeasonStanding-Container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Standing {
  /*font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  color: white;*/
  width: 100%;
  border: 1px solid black;
}

.Standing td {
  padding: 4px;
  /*border: 2px solid black;*/
}
.Standing th {
  /*border: 1px 0px 1px 0px solid #ddd;
  padding: 8px;*/
  text-align: left;
}

.Standing tr {
  background-color: #cce;
}

.Standing tr:hover {
  background-color: #aac;
}

.Standing th {
  /*padding-top: 12px;
  padding-bottom: 12px;*/
  /*background-color: #00013b;
  color: white;*/
}

.tiebreaker {
  /*color: black;*/
}
