/*.Scoreboard {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    color: blue;
  }

.Score {
    text-align: right;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    width: 40%;
    background-color: white;
}

.Team {
    text-align: left;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    background-color: grey;
}*/

.scoreboard {
  display: grid;
  grid-template-columns: 15px 300px 50px;
  grid-template-rows: 40px 40px 40px;
  color: white;
  justify-content: center;
  margin-bottom: 20px;
}

.scoreboard-color {
  border: 1px solid black;
  background-color: darkblue;
  /*background-image: linear-gradient(black, blue);*/
}

.scoreboard-home-team {
  padding: 10px;
  border: 1px solid black;
  /*background-image: linear-gradient(white, #6f263d);*/
  background-color: #00013b;
}

.scoreboard-away-team {
  padding: 10px;
  border: 1px solid black;
  /*background-image: linear-gradient(white, #ec1f26);*/
  background-color: #00013b;
}

.scoreboard-home-score {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  /*background-image: linear-gradient(white, black);*/
  background-color: #00013b;
}

.scoreboard-away-score {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  /*background-image: linear-gradient(white, black);*/
  background-color: #00013b;
}

.scoreboard-time {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 10px;
  text-align: right;
  border: 1px solid black;
  /*background-image: linear-gradient(white, black);*/
  background-color: #00013b;
}
